<h1>Hi! Please confirm your email!</h1>

<p>
<<<<<<< HEAD
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Ce lien expirera dans{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
=======
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
>>>>>>> origin/yasmina
</p>

<p>
    Cheers!
<<<<<<< HEAD
</p>
=======
</p>
>>>>>>> origin/yasmina
