<div{{attributes}}>

	<input type="text" data-model="query" class="grow" placeholder="Tapez un mot-clé..."/>

	<select data-model="option" id="">

        <option value="">Les options</option>
		<option value="Vidéoprojecteur">Vidéoprojecteur</option>
		<option value="Tableau blanc">Tableau blanc</option>
		<option value="Paperboard">Paperboard</option>
		<option value="Connexion Wi-Fi">Connexion Wi-Fi</option>
		<option value="Climatisation">Climatisation</option>
		
	</select>

	<select data-model="equipment" id="">

        <option value="">Les equipements</option>
		<option value="Vidéoprojecteur">Vidéoprojecteur</option>
		<option value="Tableau blanc">Tableau blanc</option>
		<option value="Paperboard">Paperboard</option>
		<option value="Connexion Wi-Fi">Connexion Wi-Fi</option>
		<option value="Climatisation">Climatisation</option>
		
	</select>

	<select data-model="location" id="">

        <option value="">La location</option>
		<option value="Vidéoprojecteur">Vidéoprojecteur</option>
		<option value="Tableau blanc">Tableau blanc</option>
		<option value="Paperboard">Paperboard</option>
		<option value="Connexion Wi-Fi">Connexion Wi-Fi</option>
		<option value="Climatisation">Climatisation</option>
		
	</select>


	{% set rooms = this.rooms %}
	{% if rooms|length > 0 %}

		{% for item in rooms %}
			{{ dump(item)}}
		{% endfor %}
	{% else %}

		<p>Pas de resultat</p>
	{% endif %}
</div>
