{% extends 'base.html.twig' %}

{% block title %}
    Mon profil
{% endblock %}

{% block body %}

<main class="">


<div class="grid grid-cols-1 md:grid-cols-3 gap-4">

{# Infos user #}
<div class="col-span-1  border">
    NOM
    EMAIL
    DATE DE CREATION
</div>

{# Mes réservations #}
<div class="col-span-1 md:col-span-2  border">
{% for item in app.user.client.bookings %}
    {{ dump(item) }}
{% endfor %}
</div>

</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
</div>

{#  #}
{#  #}
{#  #}

</main>

{% endblock %}